/* Layout principal do <main> */
main {
  display: flex;
  justify-content: center; /* centraliza horizontalmente */
  align-items: center;     /* centraliza verticalmente (opcional) */
  gap: 2rem;               /* espaço entre imagem e formulário */
  padding: 4rem 2rem;
  flex-wrap: wrap;         /* responsivo */
}

/* Estilo da imagem */
#carro-contato img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  
  width: 400px; /* ajuste como quiser */
}

/* Caixa do formulário */
.formulario {
  width: 400px;
  padding: 30px;
 

 
  text-align: center;
}

/* Inputs e textarea */
.formulario input,
.formulario textarea,
.formulario select {
  width: 100%;
  margin-bottom: 5px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 16px;
  font-size: 1rem;
}

/* Botão */
.formulario button {
  padding: 12px 0;
  background: #1b357e;
  color: white;
  width: 140px;
  border-radius: 8px;
  position: relative;
  margin-left: 10rem;
}
  .formulario textarea{
    resize: none;
  }
  .formulario form{
    padding: 1rem;
  }
.formulario input{
  padding-bottom: 1rem;
}
  
  #sobre-voce{
    text-transform: uppercase;
    margin-left: -6rem;
    ;
    
  }
  
