* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS', sans-serif;
    text-decoration: none;
    list-style: none;
}
body {
   
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 16px;
    border: 0;
    line-height: 1.5;
}  
img[src="imagem_1.jpg"] {
    width: 75%;
    height: auto;
 
    display: block;
    margin: 0 auto;
}
.logo-container {
    text-align: center;
}
nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
}
nav ul li {
    margin: 0 10px;
}
footer {
  position: fixed;
  right: 0;
  bottom: 0;
}