img[src="imagem_1.jpg"] {
    width: 75%;
    height: auto;
 
    display: block;
    margin: 0 auto;
}
.logo-container {
    text-align: center;
}

 #pp{
display: flex;
justify-content: center;
align-items: center;
 }

 #pp-1{
    padding-left: 2px;
 }